body {
	background: #99CCCC;
	margin: 10px 0px 0px 0px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#titleLogo {
	height: 200px;
	width: 200px;
}

#title {
	text-align: center;
}

.content {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}

.footer {
	width: 100%;
	position: fixed;
	// background-color: white; 
	padding: 0px; 
	margin: 0px; 
	bottom: 0px;
	text-align: center;
}

.smallImage {
	height: 50px;
	width: 50px;
}