{% extends "base.html" %}

{% block content %}

<h1> Chugs Bunny </h1>

<p> Chugs Bunny is the Greyhounds’ mascot. </p>

Chugs exists in many physical manifestations: As a human-sized pink bunny, an eight-inch bunny and as a spiritual entity. In all forms he is never far from either carrots or beer. </p>  

<h2> UPDATE </h2> 

<p> Chugs has returned to Cambridge after spending the week being held to ransom by nasty Oxford people. Upon being let loose at the Varsity afterparty, he returned to his old games although currently carries a distinctly strange odour. </p>



{% endblock %}