{% extends "base.html" %}

{% block content %}

VARSITY HISTORY

<h1> The 2014 Varsity Matches </h1>

<p> The most recent series of Varsity Matches ended with a 6-1 Cambridge win. Sadly, the men’s Blues Match was the one result that went Oxford’s way and the series is now tied at 62 wins apiece. Better news in the Ladies’ race, with a dominant performance from the Light Blues on the Common. </p> 

<p> Nevertheless great to see so many Greyhounds in the Old Gits race. Congratulations to Matt Leach for the individual win and leading the Greyhounds to victory. </p>

{% endblock %}